body{
margin:0;
font-family:sans-serif;
background:#0b0b0b;
color:white;
}

.header{
background:black;
padding:15px;
text-align:center;
font-weight:bold;
font-size:22px;
border-bottom:1px solid #333;
}

.container{

max-width:1200px;
margin:auto;
padding:10px;

}

.player-box{

width:100%;
aspect-ratio:16/9;
background:black;
margin-bottom:20px;
border-radius:10px;
overflow:hidden;

}

.player-box iframe{

width:100%;
height:100%;
border:0;

}

.channels{

background:#111;
padding:15px;
border-radius:10px;

}

.channels h2{

margin-top:0;

}

#channelList{

display:grid;

grid-template-columns:
repeat(auto-fill,minmax(150px,1fr));

gap:10px;

}

#channelList button{

background:#1a1a1a;
border:1px solid #333;
color:white;
padding:12px;
border-radius:8px;
cursor:pointer;

transition:.2s;

}

#channelList button:hover{

background:#ff0055;

}
